$lego-assets-path: '../projects/core/assets/' !default;

@import '../../lib/src/scss/lego';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;

  .demo-content {
    > * {
      > h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        border-bottom: solid 2px $body-text-color;
        line-height: 1.5;
      }

      .topic-container {
        display: flex;
        align-items: flex-start;

        .topic-main {
          flex-grow: 1;
          overflow-x: hidden;

          > h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: 1rem;

            &:nth-child(1) {
              margin-top: 1rem;
            }
          }

          > h3, demo-comp-table h3 {
            font-weight: bold;
            font-size: 1.25rem;
            margin-top: 2rem;
            margin-bottom: 0.75rem;
          }

          > h4 {
            font-weight: bold;
            font-size: 1rem;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
          }

          > p {
            line-height: 1.5;
            font-size: 1rem;
          }

          > ul {
            font-size: 1rem;

            li {
              margin-bottom: 0.5rem;
            }
          }

          pre {
            padding: 1rem;
            overflow: auto;
            width: 100%;
            line-height: 1.5rem;
            margin-bottom: 1rem;
            white-space: pre-wrap;
          }

          .tab-content {
            pre {
              background: $white;
              padding: 0;
            }
          }

          .hero-para {
            padding: 0.625rem 1.25rem;
            margin-bottom: 2rem;
            border: solid 1px $border-gray;
            border-radius: 5px;

            p {
              font-size: 1.25rem;
              line-height: 1.5;

              &.selector {
                font-size: 1.1rem;
              }
            }

            code {
              background-color: $white;
              border: solid 1px $text-gray;
              padding: 0 5px;
            }
          }

          .preview-container {
            padding: 1rem 0;

            .demo-message {
              margin: 0.5rem 0;
            }
          }
        }

        .topic-sidenav {
          min-width: 12.5rem;
          font-size: 0.75rem;

          ul {
            list-style: none;

            li {
              a {
                font-size: 0.75rem;
                border-bottom: none;
              }

              ul {
                padding-left: 0.75rem;
              }
            }
          }
        }
      }
    }
  }

  .sticky {
    max-height: calc(100vh - 8rem);
    overflow: auto;
    position: fixed;
    top: 5rem;
    right: 0;
    margin-right: 2.5rem;
  }

  .custom-width {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow: auto;
  }

  .topic-sidenav {
    display: none;
  }
}

.custom-typeahead-option {
  display: flex;
  flex-wrap: wrap;
}
