:host {
  display: flex;
  flex-direction: column;
  border: solid 2px transparent;
  cursor: pointer;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  span {
    text-align: center;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover, &.active {
    border: solid 2px #0095ff;
  }
}
